pipeline/End_To_End_PL.json
{
	"name": "End_To_End_PL",
	"properties": {
		"activities": [
			{
				"name": "Fetch All EmployeeSalaries Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select table_schema, table_name \nFrom Information_schema.tables\nWhere table_schema = 'dbo' and table_name Like 'Employee_Salaries_Pittsbourgh%'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Source_onPrem",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "dbo",
							"SourceTable": "Employee_Salaries_Pittsbourgh_2016"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ingest all Employee Salaries related table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch All EmployeeSalaries Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch All EmployeeSalaries Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Batch Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Source_onPrem",
									"type": "DatasetReference",
									"parameters": {
										"SourceSchema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"SourceTable": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Sink_bronze",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}