pipeline/PL3.json
{
	"name": "PL3",
	"properties": {
		"activities": [
			{
				"name": "Fetch all Pittsbourgh  related Emp Salary Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "Select table_schema, table_name\nFrom Information_Schema.tables\nWhere table_schema ='dbo' and table_name like 'Employee%'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SampleEmpSalary_OnPrem",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "dbo",
							"SourceTable": "Employee_Salaries_Pittsbourgh_2016"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ingest All Pittsbourgh Employee Salary",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch all Pittsbourgh  related Emp Salary Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch all Pittsbourgh  related Emp Salary Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SampleEmpSalary_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"SourceSchema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"SourceTable": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DL_2016_Out",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}