pipeline/PL_IncrementalLoading_Datetime.json
{
	"name": "PL_IncrementalLoading_Datetime",
	"properties": {
		"activities": [
			{
				"name": "Fetch max Depature Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(Departure Date) as date1 from Airline",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AirlineDS_Sink",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Incremental Loading",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Fetch max Depature Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT [Passenger ID]\r\n      ,[First Name]\r\n      ,[Last Name]\r\n      ,[Gender]\r\n      ,[Age]\r\n      ,[Nationality]\r\n      ,[Airport Name]\r\n      ,[Airport Country Code]\r\n      ,[Country Name]\r\n      ,[Airport Continent]\r\n      ,[Continents]\r\n      ,[Departure Date]\r\n      ,[Arrival Airport]\r\n      ,[Pilot Name]\r\n      ,[Flight Status]\r\n  FROM [Projects].[dbo].[Airline Dataset]\r\n  Where [Departure Date] > '@{activity('Fetch max Depature Date').output.firstRow.date1}'\r\n\r\n\r\n\r\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AirlineOnPremDs_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AirlineDS_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Incremental Loading_PL_Datetime_Method",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Incremental Loading",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Incremental  Loading Using Datetime Method"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks3",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}